.navbar.navbar-default.navbar-fixed-top {
  background-color: #0a2545;
  box-shadow: 0 2px 4px rgb(5 12 51 / 30%);
  border-color: transparent;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand {
  color: #ac005f;
}

header{
  color: white;
  background: transparent;
  border: 1px solid darkblue;
  border-radius: 3px;
  background-image: url("../images/code.png");
  background-color: #cccccc;
  margin-bottom: 5px;
}
div.head-div{
  padding-bottom: 5px;
}

body{
  /*max-width: 500px;*/
  background-color: #051832;
  margin: 0 auto;
  padding-top: 70px;
}

h3 {
  color: rgb(7, 0, 0);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  color: #ac005f;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

blockquote {
  color: #666;
  font-style: italic;
  border-left: 5px solid #ac005f;
  margin: 0 0 20px;
  padding-left: 15px;
}

a {
  color: #ac005f;
}
a:hover,
a:focus {
  text-decoration: underline;
}

ul{
  padding: 0;
}

li{
  color: #010e20;
  list-style: none;
}

li.small-image{
  width: 50px;
}

li.small-image img{
  width: 100%;
}

img{
  max-width: 230px;
  max-height: 230px;
}

.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.img-thumbnail {
  background: none;
  border: 0;
  height: auto;
  max-width: 100%;
}

.img-thumbnails {
  margin: 0 auto 10px;
  width: 200px;
}

.img-thumbnails .thumbnail {
  background: #f8f8f8;
  border: 0;
  margin-right: 25px;
  min-height: 50px;
}

.img-thumbnails .thumbnail:last-child {
  margin-right: 0;
}

.nav-pills {
  margin-bottom: 30px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
  color: #ac005f;
}

.nav-pills > li.active > a,
.btn-primary,
.btn-primary:focus {
  background: #ac005f;
  border: 0;
}

.nav-pills > li.active > a:hover,
.btn-primary:hover {
  background: #ac005f;
}
.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

/* Add to cart button */
.list-group-item > button {
  margin-top: 5px;
  color: white;
  background-color: #ac005f;
  border-color: #ac005f;
  border-radius: 3px;
}

.zoco-header {
  margin: 0 0 8em 0;
  padding: 0 0 0 0;
  /*background-color: #ac005f;
  color: white;*/
  border-radius: 3px;
}

.zoco-cathegories h3 {
  color: white;
}